/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

:root {
  /* --------------------- Variables de colores, puedes poner tu color personalizado y utilizarlo -----------------------------*/
  --fuchsia: #fa1e4e;
  --blue: #4c4cff;
  --aqua: #00bfff;
  --cyan: #00ffff;
  --lightblue: #45a1ff;
  --pink: #ff0f7e;
  --purple: #8d35e2;
  --green: #05b694;
  --aquamarine: #00ffa2;
  --lightgreen: #36ff4e;
  --yellowbrown: #febd60;
  --swampautumn: #fdf008;
  --gray: #bfb6d2;
  --orange: #ff6c22;
  --yellow: #ffe20f;
  --red: #ff3230;
  --navyblue: #0050ce;
  --poison: #cb17cf;

  /*                                                                                                                                 
    Accent color -----> UI del navegador.  -----|                  |---- userContent <------------ Accent color
                                                |                  |     (Add-ons, preferences and newtab page.)
                                                v                  v                                                          */
  --general-color: var(--lwt-toolbarbutton-icon-fill-attention, var(--fuchsia));
}
/*---------------------------------------------- <-Personalizaciones Varias-> ---------------------------------------------------*/

@media (prefers-color-scheme: dark) {
  :root {
    --lwt-main-image: url("../images/newtab/wallpaper-dark.png") !important; /* new-tab page image - dark theme */
    --lwt-private-image: url("../images/newtab/private-dark.png") !important; /* new-tab private-page image - dark theme */
    --brightness-wallpaper: brightness(
      100%
    ); /* 100% -> default ; 51% -> to <<main-image>> config */
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --lwt-main-image: url("../images/newtab/wallpaper-light.png") !important; /* new-tab page image - white theme*/
    --lwt-private-image: url("../images/newtab/private-light.png") !important; /* new-tab private-page image - white theme*/
    --brightness-wallpaper: brightness(
      100%
    ); /* 100% -> default and Main-image config */
  }
}

:root[privatebrowsingmode="temporary"] {
  --general-color: var(--purple) !important;
} /* Accent color private mode */

:root {
  --wallpaper-size: cover; /* cover-> default ; auto auto -> to <<main-image>> config */

  --tab-height-personal: 30px; /* Tamaño altura de pestañas - 30px mínimo*/
  --toolbar-height-personal: 38px; /* Toolbar height - 32px mínimo*/

  --menu-label: "Menu"; /* Label botón -Menú- */
  --padding-left-tab: 74px; /* Tamaño horizontal botón -Menú- */
  --account-label: "My Firefox Account"; /* Label to replace email in hamburger-menu*/

  --left-color: var(--general-color); /* Color left logo y wordmark */
  --right-color: #0060bfdd; /* Color right logo y wordmark */

  --logo-wordmark-visibility: 1; /* :1 visible, :0 invisible ; Logo-wordmark*/
  --logo-wordmark-display: flex; /* :none ->eliminar , :flex ->Mostrar;  Logo-wordmark*/
  --searchbar-on-off: 1; /* :1 visible, :0 invisible ; searchbar*/
  --searchbar-display: flex; /* :none ->eliminar , :flex ->Mostrar; searchbar*/
  --orientation-display: flex; /* :block -> vertical , :flex -> horizontal ; Logo-wordmark y searchbar*/

  --newtab-pinnedsites-background: color-mix(
    in srgb,
    white 1%,
    transparent
  ); /* color - fondo de sitios fijados y barra de búsqueda*/
  --newtab-pinnedsites-position-top: 0px; /* Posición pinnedsites - top-> : 0px ; default-> : auto*/

  --selected-text-background: var(
    --general-color
  ); /* Selected text background */

  --personal-blur: blur(26px); /* Utilizado para personalizar userContent.css */

  /*--background-align-y: -70px ;                                                              /* Alinear new-tab wallpaper to <<main-image>> config 
                                                                                                -70px  ventana normal; 
                                                                                                -98px  con Barra de Marcadores;
                                                                                                -128px con B.Marcadores y B.Menu  */
}
:root {
  /*-----------------------------------Gradientes------------------------------------*/
  --gradient: var(--general-color) !important;
  --panel-separator-zap-gradient1: linear-gradient(
    to left,
    var(--general-color),
    #ff000000
  ) !important;
  --panel-separator-zap-gradient2: linear-gradient(
    to right,
    color-mix(in srgb, var(--general-color) 80%, var(--toolbar-bgcolor, Field))
      82%,
    transparent 96%
  ) !important;
  --panel-separator-zap-gradient3: linear-gradient(
    to left,
    var(--general-color) 90.7%,
    transparent 90.7%
  ) !important;
  --panel-separator-zap-gradient4: linear-gradient(
    to left,
    var(--general-color),
    transparent
  ) !important;
  --panel-separator-zap-gradient5: linear-gradient(
    to left,
    var(--button-bgcolor-personal) 36%,
    var(--arrowpanel-background) 100%
  ) !important;

  /*------------------------------Botones hover, clic--------------------------------*/
  --button-bgcolor-personal: color-mix(
    in srgb,
    var(--general-color) 22%,
    transparent
  ) !important; /*Color usado en el botón menú*/
  --button-bgcolor: color-mix(
    in srgb,
    var(--general-color) 40%,
    transparent
  ) !important; /*Color de buttons*/
  --button-hover-bgcolor: color-mix(
    in srgb,
    var(--general-color) 55%,
    transparent
  ) !important; /*Color fondo de menuitems :hover*/
  --button-active-bgcolor: color-mix(
    in srgb,
    var(--general-color) 75%,
    transparent
  ) !important; /*color clic en menuitems*/
}

@media (-moz-platform: linux) {
  :root {
    --panel-separator-zap-gradient2: linear-gradient(
      to right,
      color-mix(
          in srgb,
          var(--general-color) 80%,
          var(--toolbar-bgcolor, Field)
        )
        92%,
      transparent 100%
    ) !important;
  }
}
