/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/* Menú contextual */

menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 0.4em !important;
}

/* Combo-box - Select Box more compact */

#ContentSelectDropdown > menupopup > menuitem {
    padding: 0 6px !important;
    background-color: inherit !important;
}

/* Borde izquierda y derecha del menú contextual */

/*
menugroup>menuitem:first-child { appearance: none !important; padding-left:  4px !important; }
menugroup>menuitem:last-child  { appearance: none !important; padding-right: 4px !important; }
*/

/* context menu top buttons radius */

menugroup > menuitem > hbox > image {
    appearance: none !important;
    border-radius: 2px !important;
}

/* separador de items */

menuseparator {
    appearance: none !important;
    margin-inline: 6px !important;
    border-image: var(--panel-separator-zap-gradient1) 1 !important;
}

@media (-moz-platform: linux) {
    menuseparator:not(#PlacesToolbar) {
        appearance: none !important;
        border-block-start: 1px solid transparent !important;
        border-block-end: none !important;
        border-image: var(--panel-separator-zap-gradient1) 1 !important;
        padding-block-start: 2px !important;
        margin-inline-start: 2px !important;
    }
    #PlacesToolbar menuseparator {
        appearance: none !important;
        border: none !important;
    }
}

/* Márgenes menú y menú desplegable del menú */

menupopup:not(#PlacesToolbar) menupopup {
    appearance: none !important;
    margin-block-start: -9px !important;
}

#permission-popup menupopup {
    appearance: none !important;
    margin-block-start: -3px !important;
}

#PlacesToolbar menupopup menupopup {
    appearance: none !important;
    margin-block-start: -9px !important;
    margin-inline-start: -8px !important;
}

/* Colores generales */

.menupopup-arrowscrollbox {
    appearance: none !important;
    background-image: var(--noise-urlbar-personal) !important;
    box-shadow: 0px 0px 0 1px var(--border-contrast-color, #09080d) !important;
    background-color: color-mix(in srgb, var(--arrowpanel-background, #1c1726) 90%, var(--contrast-color, #1c1726)) !important; 
    color: var(--arrowpanel-color, #ffffff) !important;
    border-image: var(--panel-separator-zap-gradient4) 1 !important;
    border-radius: 0px !important;
}

/* Íconos superiores del menú contextual */

/*
#context-navigation {
    appearance: none !important;
    color: var(--arrowpanel-color) !important;
    margin-left: 5px !important;
    margin-right: 5px !important; }
#context-navigation > .menuitem-iconic > .menu-iconic-left > .menu-iconic-icon{
    appearance: none !important;
    background-color: transparent !important; }
#context-navigation > .menuitem-iconic:hover:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon{
    appearance: none !important;
    background-color: var(--button-hover-bgcolor) !important; }
    /* Color íconos deshabilitados 
#context-navigation > .menuitem-iconic:hover:is([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon {
    appearance: none !important;
    color: inherit !important;
    background: transparent !important;
}*/

/* Font color in Contextual menus */

menupopup > menuitem:not([disabled="true"]), menupopup > menu {
    appearance: none !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

/* Gradient color to :hover items */

menupopup > menuitem:not([disabled="true"]):hover, menupopup > menu:hover {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, #ffffff) !important;
}

menupopup > menuitem:is([disabled="true"]):hover {
    appearance: none !important;
    background: transparent !important;
}

/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items de menús */

menupopup > menuitem:not([selected="true"]), menupopup > menu {
    appearance: none !important;
    background-color: transparent !important;
}

menupopup > menu[open="true"] {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color) !important;
}

/* Mostrar background-color en el item seleccionado */

menupopup > menuitem:is([selected="true"]):not([disabled="false"]) {
    appearance: none !important;
    background-color: var(--button-hover-bgcolor) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

menupopup > menuitem:is([selected="true"]):hover:not([disabled="false"]) {
    appearance: none !important;
    background-color: var(--button-active-bgcolor) !important;
}

/* Makes context navigation buttons appears as normal textual menuitems */

#context-navigation {
    -moz-box-orient: vertical;
    flex-direction: column !important;
}

#context-navigation > menuitem > .menu-iconic-left {
    display: none
}

#context-navigation > menuitem {
    padding-block: 0.4em !important;
    padding-inline-start: 1em;
    justify-content: flex-start !important;
    -moz-box-pack: start !important;
    width: auto !important;
}

#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}

#context-navigation > menuitem::before {
    content: attr(aria-label);
}

/* #################################### LINUX ####################################### */

menupopup > menuitem, menupopup > menu {
    appearance: none !important;
    padding-block: 4px !important;
}


/* Flecha menú contextual desplegable Linux */

@media (-moz-platform: linux) {

/* Borde items */
    
menupopup {
    --panel-padding: 4px 0px !important;
}
    
menu, menuitem, menucaption {
    border-radius: 0px !important;
}
    
/* Flecha derecha */
    
.menu-right {
        appearance: none !important;
        list-style-image: url(chrome://global/skin/icons/arrow-right.svg )!important;
        height: 16px !important;
        width: 16px !important;
        -moz-context-properties: fill !important;
        fill: currentColor !important;
        opacity: 0.7 !important;
}
    
/* Margen menú del menú */
    
menupopup:not(#PlacesToolbar) menupopup {
    appearance: none !important;
    margin-inline-start: -10px !important;
}
    
/* Necesario para quitar glitch indeseado al mover el mouse rapidamente sobre items del menú */
    
menugroup > menuitem:not([selected="true"]), menugroup > menu {
    appearance: none !important;
    background-color: transparent !important;
}
    
    /* Configuración para los íconos del menú contextual: back, forward, reload, bookmark 
menugroup>menuitem{ background: transparent !important; background-color: transparent !important;}
menugroup>menuitem:first-child{ margin-left: 4px !important;}
menugroup>menuitem:last-child{ margin-right: 4px !important;}
menugroup menuitem:not([disabled="true"]):hover{
    appearance: none !important; 
    background: transparent !important;
    background-color: var(--button-hover-bgcolor) !important; 
    border-radius: 3px !important; }
#context-navigation > .menuitem-iconic:hover:not([disabled="true"]) > .menu-iconic-left > .menu-iconic-icon{
    appearance: none !important;
    background-color: transparent !important; }*/
    
/* Makes context navigation buttons appears as normal textual menuitems */
    
#context-navigation {
    appearance: none !important;
    -moz-box-orient: vertical;
    flex-direction: column !important;
}
    
#context-navigation > menuitem > .menu-iconic-left {
    appearance: none !important;
    display: none
}
    
#context-navigation > menuitem {
    appearance: none !important;
    padding-block: 4px !important;
    padding-inline-start: 2em !important;
    justify-content: flex-start !important;
    -moz-box-pack: start !important;
    width: auto !important;
    border-radius: 0px !important;
}
    
#context-navigation > menuitem[_moz-menuactive="true"]:not([disabled]) {
    appearance: none !important;
    background: linear-gradient(to right, var(--button-bgcolor) 49%, transparent) !important;
    color: var(--arrowpanel-color, var(--lwt-tab-text)) !important;
}
    
#context-navigation > menuitem::before {
    appearance: none !important;
    content: attr(aria-label)
    }
}
