/* Source file made available under Mozilla Public License v. 2.0 See the main repository for updates as well as full license text. 
   https://github.com/Godiesc/firefox-gx */

/*-----------------íconos en el menú de hamburguesa----------------------*/

:root{
    --margin-left-icons-personal: 10px !important;
}

/* Tamaño menu Open ventana no maximizada */
#appMenu-popup panelview{ width: 25.5em !important;
}
/*Posicion y margen de los íconos*/
.subviewbutton[shortcut]::after, .widget-overflow-list .subviewbutton-nav::after, .PanelUI-subView .subviewbutton-nav::after {
/*    margin-inline-end: 20px !important; */
}
[oncommand="switchToTabHavingURI('about:performance', true)"] {
    background-position: left 10px center;
    background-repeat: no-repeat;
    background-size: 16px;    
}
.subviewbutton:not(.subviewbutton-iconic, .toolbarbutton-text, [checked="true"])> .toolbarbutton-icon, .syncNowBtn{
    width: 16px; height: 16px;   
    margin-inline-end: 7px !important;
}
/* Color los íconos */
.subviewbutton {  -moz-context-properties: fill; fill: var(--lwt-tab-text) !important;;}
.subviewbutton:hover { -moz-context-properties: fill; fill: var(--lwt-tab-text) !important;;}

/* -------Margen de los íconos---------- 

/* Margen item "tamaño" */
:root[sizemode="maximized"] panelmultiview .toolbaritem-combined-buttons > label {
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;
}
panelmultiview .toolbaritem-combined-buttons > label {
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;
}
/* Ícono de Actualización disponible */
#appMenu-popup .panel-banner-item:not([disabled]), #appMenu-popup .addon-banner-item:not([disabled]){
    background: var(--button-bgcolor) !important;
}
#appMenu-popup .panel-banner-item:not([disabled]):hover, #appMenu-popup .addon-banner-item:not([disabled]):hover {
    background: var(--button-active-bgcolor) !important;
}
.panel-banner-item::before {
    background: url("../images/foxFill.svg") no-repeat center/16px;
    content: ""; display: block; width: 16px; height: 16px;
    margin-inline-end: 7px; -moz-context-properties: fill;
    fill: #3ad3a2 !important;
}
#appMenu-popup .panel-banner-item label {
    padding-inline-start: calc(var(--margin-left-icons-personal) - 12px) !important;;
}
/*ícono account Margenes */
#appMenu-fxa-label2{ margin-inline-start: -8px !important; }
#appMenu-fxa-label2::after{ margin-inline-end: -6px !important; }
@media{
    :root[sizemode="maximized"] #appMenu-fxa-label2{
    margin-inline-start: 0px !important;
    padding-bottom: 6px !important;
    margin-inline-end: 6px !important;
}
/* Alinear item account */
:root[sizemode="normal"] #appMenu-fxa-label2{
    margin-inline-start: 0px !important;
}
/*ícono account - first */
#appMenu-fxa-status2[fxastatus="signedin"] #appMenu-header-description {
    display: none !important;
}
/* Ícono sign-in, cuenta no iniciada  */
#appMenu-fxa-status2:not([fxastatus="signedin"]) { 
    margin-inline-end: -1px !important;
    margin-inline-start: calc(var(--margin-left-icons-personal) + 12px) !important;}
#appMenu-fxa-status2:not([fxastatus="signedin"]):hover  toolbarbutton {
    background-color: var(--button-active-bgcolor) !important;
}
#appMenu-fxa-status2[fxastatus="signedin"] #appMenu-fxa-label2::before  {
    background: var(--avatar-image-url) no-repeat left/16px;
    margin-inline-end: 7px;
    
    content: var(--account-label) !important;
    display: inline-block;
    border-radius: 0%;
    padding-inline-start: 23px !important;
    pointer-events: none !important;
    clip-path: circle !important;
}
/* Ícono account - second */
#fxa-manage-account-button::before {
    background: var(--avatar-image-url) no-repeat center/16px;
    content: ""; display: block; width: 16px; height: 16px;
    margin-inline-end: 7px;
    border-radius: 50%;
}
:root[fxastatus="signedin"] #fxa-menu-avatar {
    display: unset; order: 2;
}
/* Alinear lista de pestañas sincronizadas */
.PanelUI-remotetabs-clientcontainer label {
    padding-inline-start: 0px !important;
}
/*Ícono Nueva Pestaña*/
#appMenu-new-tab-button2 {
    list-style-image: url("chrome://browser/skin/new-tab.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Nueva Ventana - PestañasCerradasRecientes*/
#appMenuRecentlyClosedTabs, #sidebar-switcher-tabs {
    list-style-image: url("chrome://browser/skin/window.svg");
    padding-inline-end: 25px !important;
}
#appMenu-new-window-button2, #appMenuRecentlyClosedWindows {
    list-style-image: url("chrome://browser/skin/tab.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Ventana Privada*/
#appMenu-new-private-window-button2 {
    list-style-image: url("chrome://browser/skin/privateBrowsing.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Marcadores*/
#panelMenuBookmarkThisPage[starred]{
    list-style-image: url("../images/bookmark.svg");
    fill: var(--general-color) !important;
}
#appMenu-bookmarks-button, #appMenu-library-bookmarks-button, #sidebar-switcher-bookmarks,#panelMenuBookmarkThisPage:not([starred]) {
    list-style-image: url("../images/bookmark-empty.svg");
    /*margin-inline-end: -25px !important;*/
}
/*ícono Historial*/
#appMenu-history-button, #appMenu-library-history-button, #sidebar-switcher-history {
    list-style-image: url("chrome://browser/skin/history.svg");
    /*margin-inline-end: -25px !important;*/
}
/*ícono decargas*/
#appMenu-downloads-button, #appMenu-library-downloads-button {
    list-style-image: url("chrome://browser/skin/downloads/downloads.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Contraseñas*/
#appMenu-passwords-button {
    list-style-image: url("chrome://browser/skin/login.svg");
}
/*Ícono Complementos*/
#appMenu-extensions-themes-button {
    list-style-image: url("chrome://mozapps/skin/extensions/extension.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Imprimir*/
#appMenu-print-button2 {
    list-style-image: url("chrome://global/skin/icons/print.svg");
    padding-inline-end: 25px !important;
}
/* Guardar como... */
#appMenu-save-file-button2{
    padding-inline-end: 25px !important;
}
/* Ícono buscar */
#appMenu-find-button2, #panelMenu_searchBookmarks {
    list-style-image: url("chrome://global/skin/icons/search-glass.svg");
    padding-inline-end: 25px !important;
}
/*Ícono Ajustes*/
#appMenu-settings-button {
    list-style-image: url("chrome://global/skin/icons/settings.svg");
}
/*Ícono Ayuda*/
#appMenu-help-button2 {
    list-style-image: url("chrome://global/skin/icons/help.svg");
    /*margin-inline-end: -25px !important;*/
}
#appMenu-more-button2 {
    /*margin-inline-end: -25px !important;*/
}
/*Ícono salir*/
#appMenu-quit-button2 {
    list-style-image: url("../images/quit1.svg");

    padding-inline-end: 25px !important;
}
#appMenu-quit-button2:hover {
    list-style-image: url("../images/quit2.svg");
    background-size: 16px;
    padding-inline-end: 25px !important;
}
#panelMenu_viewBookmarksToolbar {
    list-style-image: url("chrome://browser/skin/bookmarks-toolbar.svg");
}
/*Ícono Borrar Historial*/
#appMenuClearRecentHistory {
    list-style-image: url("chrome://browser/skin/forget.svg");
}
/*ícono Personalizar Barra Herramientas*/
#appmenu-moreTools-button, #overflowMenu-customize-button {
    list-style-image: url("chrome://browser/skin/customize.svg");
}
/*Ícono SincronizarAhora*/
.syncNowBtn {
    visibility: visible !important; order: -1 !important;
}
/*Ícono ConectarOtroDispositivo*/
#PanelUI-fxa-menu-connect-device-button {
    margin-inline-start: 0px !important;
}
